# This is an example of the environment variables that need to be set up in this repo
DATABASE_CONNECTION_STRING="DRIVER={ODBC Driver 18 for SQL Server};SERVER={Azure SQL server};DATABASE={Azure SQL database};UID={user ID};PWD={password}"
SECRET_KEY="SQLalchemy secret key"
TZ="Timezone of user"