{% extends "base.html" %}
{% block title %}Output Logger{% endblock %}
{% block content %}
<h3>Output Logger</h3>
<form action="#" method = "post">
    <label for="output">Output (mL): </label>
    <p><input type="number" name = "output" min="0" onkeydown="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"></p>
    <label for="timestamp">Timestamp:</label>
    <p><input type="datetime-local" id="timestamp" name="timestamp" value="{{current_datetime}}"></p>
    <p><input type = "submit" value = "Submit" /></p>       
</form>

{% endblock %}